*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: Roboto;
}

.color-red {
	color: #fb0000;
}

.btn__default {
	max-width: 300px;
	background-color: #d7211e;
	color: #fff;
	padding: 16px 35px;
	border-radius: 5px;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	cursor: pointer;
	box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.24);
	transition: background-color 0.3s ease;
	text-transform: uppercase;
	font-size: 16px;

	&-small {
		padding: 10px 20px;
	}

	&-center {
		margin: 20px auto 0px;
	}

	&:disabled {
		background-color: #4d4e50;
		cursor: not-allowed;

		&:hover {
			background-color: #4d4e50;
		}
	}


	&:hover {
		background-color: #009688;
	}

	&:active {
		box-shadow: inset -5px 8px 12px 0 rgba(0, 0, 0, 0.24);
	}
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity .7s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.next__question-enter-active,
.next__question-leave-active {
	transition: opacity linear .3s;
}

.next__question-enter,
.next__question-leave-to {
	opacity: 0;
}