<template>
  <transition name="fade">
    <div class="wrapper__popup" v-show="showPopup">
      <div class="popup__contain" :class="{'popup__contain_show':showPopup}">
        <div class="close__popup" @click="closePopup">X</div>
        <StartWindow v-if="!start" @checkStart="start=true"/>
        <Questions v-if="start" ref="test"/>
      </div>
    </div>
  </transition>
</template>

<script>
import Questions from "./Questions.vue";
import StartWindow from "./StartWindow.vue";
export default {
  components: {
    Questions,
    StartWindow
  },
  props: ["showPopup"],
  data() {
    return {
      start: false,
      endTest: false
    };
  },
  methods: {
    closePopup() {
      if (this.endTest) {
        // Для демонстраций общего сброса. Обычно используется Vuex
        setTimeout(() => {
          this.resetTest();
        }, 800);

        this.$emit("changeProps", false);
      }

      this.$emit("changeProps", false);
    },

    resetTest() {
      const test = this.$refs.test;
      this.start = false;
      this.endTest = false;
      test.chose = null;
      test.points = 0;
      test.currentQuestion = 0;
      test.endTest = false;
      test.textFinal = null;
    }
  }
};
</script>

<style lang="scss" scoped>
.wrapper__popup {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(black, 0.4);
}

.close__popup {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24px;
  transition: color 0.3s ease;
  color: #8e8e8e;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    color: black;
  }
}

.popup__contain {
  max-width: 600px;
  position: relative;
  padding: 30px;
  box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.13);
  background: #fff;
  transform: scale(0);
  transition: transform 0.3s ease;
  &_show {
    transform: scale(1);
  }
}
</style>