<template>
  <div>
    <form @submit.prevent="handlerTest" v-if="!endTest">
      <div class="count__test">{{currentQuestion+1}}/{{questions.length}}</div>

      <transition-group name="next__question">
        <div
          class="question"
          v-for="(question, index) in questions"
          :key="question.id"
          v-show="index==currentQuestion"
          :class="{'question_show':index==currentQuestion}"
        >
          <img :src="question.img" alt>
          <h4>{{index+1}}. {{question.question}}</h4>
          <h5 v-if="question.description">{{question.description}}</h5>
          <p v-for="(answer, index) in question.answers" v-bind:key="index">
            <label>
              <input type="radio" :value="index" v-model="chose" required>
              <span>{{answer}}</span>
            </label>
          </p>
        </div>
      </transition-group>
      <p>
        <button
          type="submit"
          :disabled="!chose"
          class="btn__default btn__default-small btn__default-center"
        >Дальше</button>
      </p>
    </form>
    <div class="final_test" v-if="endTest" v-html="textFinal"></div>
  </div>
</template>

<script>
import { questions } from "./questions";
export default {
  data() {
    return {
      questions: [],
      chose: null,
      points: 0,
      currentQuestion: 0,
      endTest: false,
      textFinal: null
    };
  },
  mounted() {
    this.questions = questions;
  },
  methods: {
    handlerTest() {
      if (this.checkAnswer()) {
        this.points += 10;
      } else {
        this.points -= 20;
      }
      if (this.currentQuestion !== questions.length - 1) {
        this.chose = null;
        this.currentQuestion += 1;
      } else {
        this.endTest = true;
        if (this.points < 0) {
          this.textFinal = "Попробуйте в следующий раз";
        } else {
          this.textFinal = `<h3>Поздравляю!</h3> <p>Вы набрали - ${
            this.points
          } баллов</p>`;
        }

        //  Для демонстраций передачи сброса в родителя. Обычно используется Vuex
        this.$parent.endTest = true;
      }
    },
    checkAnswer() {
      const checkAnswer =
        this.questions[this.currentQuestion].rightAnswer === +this.chose;
      return checkAnswer;
    }
  }
};
</script>

<style lang="scss" scoped>
.count__test {
  color: #795548;
  text-align: center;
}
form {
  position: relative;
}
.final_test {
  min-width: 240px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h3 {
    margin-bottom: 15px;
  }
}
.question {
  position: absolute;
  left: 0;
  top: 0;
  &.question_show {
    position: relative;
  }
  img {
    max-width: 100%;
    display: block;
    margin: 15px 0 30px;
  }
  h4,
  h5 {
    margin-bottom: 20px;
  }

  label {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    input {
      margin-right: 15px;
    }
  }
}
</style>