<template>
  <form @submit.prevent="handlerStart">
    <h3>{{title}}</h3>
    <p>Прохождение теста позволит получить дополнительные баллы, которые можно обменять на подарки :)</p>
    <p class="color-red">* Обязательно</p>
    <p>
      <label>
        <span>
          Адрес электронной почты
          <b class="color-red" style="font-size:20px;">*</b>
        </span>
        <input
          type="email"
          v-model="email"
          class="email"
          required
          placeholder="Ваш адрес эл. почты"
          pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        >
      </label>
    </p>
    <button
      :disabled="!email"
      type="submit"
      class="btn__default btn__default-small btn__default-center"
    >Начать</button>
  </form>
</template>

<script>
export default {
  data() {
    return {
      title: "DDoS-атаки",
      email: null,
      emails: []
    };
  },
  mounted() {
    if (localStorage.getItem("emails")) {
      this.emails = JSON.parse(localStorage.getItem("emails"));
    }
  },
  methods: {
    handlerStart() {
      if (!this.email) {
        return;
      }

      if (this.checkedEmails()) {
        alert(
          `Пользователь с  e-mail - ${
            this.email
          } уже проходил тест. Больше нельзя!`
        );
        return;
      }
      this.emails.push(this.email);
      const parsed = JSON.stringify(this.emails);
      localStorage.setItem("emails", parsed);
      this.$emit("checkStart", true);
    },

    checkedEmails() {
      const emails = JSON.parse(localStorage.getItem("emails"));
      if (emails) {
        const checked = emails.filter(email => email === this.email);
        return checked.length;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
form {
  h3 {
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 15px;
  }
  .email {
    margin-top: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid #8e8e8e;
    padding: 10px 5px;
    font-size: 16px;
    display: block;
    width: 50%;
    @media all and (max-width: 568px) {
      width: 100%;
    }
  }
}
</style>