<template>
  <div>
    <div class="middle">
      <div class="btn__default" @click="showPopup=!showPopup">Начать тест</div>
    </div>
    <Popup :showPopup="showPopup" @changeProps="showPopup=$event"/>
  </div>
</template>

<script>
import Popup from "./Popup.vue";

import { questions } from "./questions";
export default {
  components: {
    Popup
  },
  data() {
    return {
      showPopup: false
    };
  }
};
</script>

<style lang="scss" scoped>
.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
</style>