include ../mixin

block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		meta( property="og:type" content="article")
		meta( property="og:title" content="")
		meta( property="og:description" content='')
		meta( property="og:url" content="")
		meta( property="og:image" content="")
		link(rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon")
		link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons', rel='stylesheet')

		block extrastyle
		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		<![endif]-->
	body(class=pageClass)
		//include ../modules/header
		block content
		
		//include ../modules/footer
		block script
